@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

main {
    margin: 0 5vw;
}

video {
    width: 100%;
    border-radius: 24px 24px 0 0;
}

.nav {
    width: auto;
    height: 115px;
    background-color: #0B3948;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.nav_text {
    color: white;
    font-family: "Roboto Condensed", serif;
    font-weight: 500;
    margin: 0 0 0 2vw;
    font-size: 18px;
}

.nav_display {
    display: flex;
}

footer {
    margin: 5vw 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: black;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
}

h2 {
    color: #ACB0BD;
    font-family: "Inter", serif;
    font-weight: 800;
    font-size: 101px;
    margin: -60px 0 0 0;
}

p {
    color: black;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 22px;
    margin: auto 30px;
}

.footer_p1 {
    color: black;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
}

.footer_p {
    color: black;
    font-family: "Roboto Condensed", serif;
    font-weight: 700;
    font-size: 28px;
}

.contakt a {
    margin: 10px;
}

.work {
    width: 407px;
    min-height: 161px;
    background-color: #E7DAAB;
    border-radius: 24px;
    margin: 4vw 0;
    padding: 5px;
}

.work_display {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.courses {
    width: 305px;
    height: 354px;
    border-radius: 24px;
    background-color: #ACB0BD;
    margin: 10px;
    display: flex;
    flex-direction: column;

}

.courses p {
    color: white;
    font-family: "Roboto Condensed", serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.courses_display {
    display: flex;
    flex-wrap: wrap;
}

.articles {
    height: 472px;
    width: 413px;
    background-color: #ACB0BD;
}

.map {
    margin: 100px 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 413px !important;
    height: 472px !important;
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.courses2 {
    display: flex;
    flex-direction: column;
}

.courses2 p {
    color: black;
    font-family: "Roboto Condensed", serif;
    font-weight: 700;
    font-size: 21px;
    margin: 10px 0;
    text-align: start;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    border: 1px solid #888;
    border-radius: 24px;
    max-width: 614px;
    padding: 0;
}

.close-btn {
    float: right;
    margin-right: 40px;
    margin-top: 24px;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h3{
    color: black;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 22px;
    margin-top: 65px;
    margin-left: 40px;
}

.modal-content p{
    color: black;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    margin: 16px 40px 60px 40px;
}

@media (max-width: 1000px) {
    .work_display {
        flex-direction: column;

    }

    .courses_display {
        justify-content: space-between;
    }

    .work {
        width: 100%;
    }

    p {
        font-size: 33px;
    }

    .courses {
        width: 45%;
        height: 354px;
        border-radius: 24px;
        background-color: #ACB0BD;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
}